<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    <title>BEST Courses | BEST Kyiv | Board of European Students of Technology</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="/assets/node_modules/aos/dist/aos.css" rel="stylesheet">
    <!-- This css we made it from our predefine componenet
    we just copy that css and paste here you can also do that -->
    <link rel="stylesheet" href="/assets/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">

    <link href="/css/demo.css" rel="stylesheet">
    <!-- Common style CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/yourstyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">BEST Kyiv</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <div class="topbar">
        <div class="header1 po-relative">
            <div class="container">
                <!-- Header 1 code -->
                <nav class="navbar navbar-expand-lg h1-nav">
                    <a class="navbar-brand" href="/"><img class="best-navbar-logo" src="/images/best-kyiv-logo-big.png"
                                                          alt="wrapkit"/></a>
                    <button class="navbar-toggler text-black-50" type="button" data-toggle="collapse"
                            data-target="#h5-info" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="ti-menu"></span></button>
                    <div class="collapse navbar-collapse hover-dropdown text-uppercase" id="h5-info">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item dropdown mega-dropdown active">
                                <a class="nav-link dropdown-toggle" href="/"><%= __('Головна', 'Home') %></a>
                            </li>
                            <li class="nav-item dropdown mega-dropdown active">
                                <a class="nav-link dropdown-toggle" href="/#about"><%= __('Про нас', 'About us') %></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/#projects" id="h6-dropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= __("Проекти","Projects") %> <i class="fa fa-angle-down m-l-5"></i></a>
                                <ul class="b-none dropdown-menu font-14 animated fadeInUp">
                                    <li><a class="dropdown-item" href="<%= __('/', '/en/')%>courses" target="_blank"><%= __("Освітні курси", "BEST Courses") %></a></li>
                                    <li><a class="dropdown-item" href="<%= __('/', '/en/')%>ebec" target="_blank"><%= __("EBEC") %></a></li>
                                    <li><a class="dropdown-item" href="<%= __('/', '/en/')%>int20h" target="_blank"><%= __("INT20H") %></a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown mega-dropdown active">
                                <a class="nav-link dropdown-toggle" href="/#contacts"><%= __("Контакти", "Contacts") %></a>
                            </li>
                        </ul>
                        <div class="switch-language-block">
                            <a href="<%= __('/en/courses', '/courses')%>">
                                <img class="language-icon" src="/images/icons/flag-<%= __('uk', 'ua')%>.svg" alt="switch language">
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- End Header 1 code -->
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Slider 9  -->
            <!-- ============================================================== -->
            <div class="bg-light">
                <section id="slider-sec" class="slider9 best-project-header">
                    <div id="slider9" class="carousel bs-slider slide  control-round indicators-line"
                         data-ride="carousel" data-pause="hover" data-interval="7000">
                        <div class="row bg-best-courses-primary-gradiant">
                            <div class="col-md-7 d-block d-md-none">
                                <div class="best-project-header__bg-img-block courses"></div>
                            </div>
                            <div class="col-md-5">
                                <div class="container best-project-header__content-container">
                                    <div class="row best-project-header__content">
                                        <div class="col-md-11 col-lg-9 ml-auto">
                                            <h1 data-animation="animated fadeInLeft"
                                                class="title text-white font-bold m-0 p-b-40"><%= __('Освітні курси', 'BEST Courses')%></h1>
                                            <p class="p-0 m-b-40 best-project-header__text"
                                               data-animation="animated fadeInUp">
                                               <%= __('BEST курси – це двотижневий захід, протягом якого учасники відвідують лекції від професорів університету або експертів з компаній та воркшопи, що спрямовані на надання додаткової освіти студентам за межами університетської програми.', 'BEST Courses are two-week events during which participants attend lectures from university professors or company experts and workshops aimed at providing additional education to students outside the university program.') %>
                                               
                                            </p>
                                            <p class="p-0 m-b-40 best-project-header__text"
                                               data-animation="animated fadeInUp">
                                               <%= __('Окрім інтенсивної академічної частини, учасникам пропонуються різноманітні соціальні для культурного обміну.', 'Besides the intensive academic part, participants are offered a variety of social activities for cultural exchange.') %>
                                               
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 d-none d-none d-md-block">
                                <div class="best-project-header__bg-img-block courses"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- ============================================================== -->
            <!-- End of Slider 9  -->
            <!-- ============================================================== -->
            <div class="spacer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img width="100%" src="/images/courses/courses-logo.png" alt="courses logo"/>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- Call-to-Action 3  -->
            <!-- ============================================================== -->
            <div class="spacer bg-light c2a3">
                <div class="container">
                    <div class="d-flex">
                        <div class="display-7 align-self-center">
                            <h3 class="">
                            	<%= __('Хочеш потрапити на курс, але не знаєш, з чого почати?', 'Want to get on a course but don't know where to start?') %>
                            	
                            </h3>
                            <h6 class="font-16 subtitle">
                            	<%= __('Ми підготували покроковий список дій до твоєї незабутньої подорожі!', 'How to register on the website and write motivation letters') %>
                            	
                            </h6>
                        </div>
                        <div class="ml-auto m-t-10 m-b-10">
                            <a href="https://docs.google.com/document/d/1kuVyKG4FLg4c0gcb8V_FfECvwpuhxUX2y9tnYICxLqI/edit?usp=sharing"
                               target=”_blank” rel=”noopener”
                               class="btn btn-md btn-best-courses-gradiant btn-arrow"><span>
                               	<%= __('Переглянути', 'Read here') %>
                               	
                               	<i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mini-spacer"></div>
            <!-- ============================================================== -->
            <!-- End Call-to-Action 3  -->
            <!-- ============================================================== -->

            <!-- Feature 17  -->
            <!-- ============================================================== -->
            <div class="feature17">
                <div class="container">
                    <!-- Row  -->
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h2 class="title">
                            <%= __('Які бувають освітні курси?', 'Types of courses') %>
	                        
	                    </h2>
                        </div>
                    </div>
                    <!-- Row  -->

                    <div class="row m-t-30">
                        <div class="col-md-4 col-sm-12 col-12 p-20 text-center card-border">
                            <div class="icon-space"><i
                                        class="display-5 text-best-courses-gradiant icon-Computer"></i></div>
                            <h4 class="font-medium">BEST Course on Technology</h4>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12 course-type-card card-border"
                             style="background-image:url('/images/courses/course-type-1.jpg')">

                        </div>
                        <div class="col-md-4 col-sm-12 col-12 p-20 text-center card-border">
                            <div class="icon-space"><i
                                        class="display-5 text-best-courses-gradiant icon-Money-2"></i></div>
                            <h4 class="font-medium">BEST Course on Career Related Skills</h4>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12 course-type-card card-border"
                             style="background-image:url('/images/courses/course-type-2.jpg')">

                        </div>
                        <div class="col-md-4 col-sm-12 col-12 p-20 text-center card-border">
                            <div class="icon-space"><i
                                        class="display-5 text-best-courses-gradiant icon-Engineering"></i></div>
                            <h4 class="font-medium">BEST Course on Applied Engineering </h4>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12 course-type-card card-border"
                             style="background-image:url('/images/courses/course-type-3.jpg')">

                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End of Feature 17 -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Feature 23 -->
            <!-- ============================================================== -->

            <div class="spacer"></div>
            <div class="spacer feature23 wrap-feature23-box"
                 style="background-image:url(/images/courses/courses-our-course-bg.jpg)">
                <div class="container">
                    <!-- Row -->
                    <div class="row justify-content-center">
                        <div class="col-md-5 text-center both-space">
                            <div class="card" data-aos="flip-left" data-aos-duration="1200">
                                <div class="card-body">
                                    <div class="text-box">
                                        <h3 class="title">
	                                        <%= __('Наш курс', 'Our course') %>
	                                        
	                                    </h3>
                                        <h6 class="subtitle">
                                        	<% if (LANG === 'UA') { %>
											    Раз на рік ми організовуємо курс в <b>Києві</b> для іноземних студентів. <br/><br/>У 2019 році це був курс із <b>Data Science</b>. Учасники мали можливість ознайомитись з базовими алгоритмами машинного навчання та аналізу даних та відвідати провідні українські компаній у цій галузі, як наприклад, Grammarly.<br/><br/>Також до курсу приєднались 15 локальних студентів з <b>КПІ</b>.
											<% } else { %>
												Once a year we organize a course in <b>Kyiv</b> for foreign students.<br/><br/>The previous course was on <b>Data Science</b>. The participants had the opportunity to get acquainted with basic algorithms of machine learning and data analysis and to visit leading Ukrainian companies in this field, such as Grammarly.<br/><br/>Also, 15 local students from <b>KPI</b> joined the course.
											<% } %>                                        	
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End of Feature 23 -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Gallery -->
            <!-- ============================================================== -->

            <div class="spacer">
                <div class="container justify-content-center">
                    <h1 class="text-center">
                    	<%= __('Трішки фото', 'Some photos') %>
                    	
                    </h1>
                    <!-- Row  -->
                    <div class="owl-carousel owl-theme port1 m-t-40">
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-1.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-2.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-3.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-4.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-5.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-6.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/courses/courses-photo-7.jpg" alt="courses"/>
                        </div>
                        <!-- item -->
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End of gallery -->
            <!-- ============================================================== -->


            <!-- ============================================================== -->
            <!-- Vivaldi -->
            <!-- ============================================================== -->

            <div class="spacer bg-light c2a3">
                <div class="container">
                    <div class="d-flex">
                        <div class="align-self-center course-tae">

                            <p class="p-0 m-b-40 best-project-header__text"> 
                            	<% if (LANG === 'UA') { %>
								    Двічі на рік ми організовуємо воркшопи з написання мотиваційного листа на курс – <b>Travel and Education with BEST</b>. На цьому івенті ми даємо корисні поради, як написати хороший лист та заповнити аплікаційну форму.
								<% } else { %>
									Also, twice a year we organize workshops for writing a motivation letter for the course - <b>Travel and Education with BEST</b>. At this event, we provide helpful tips on how to write a good letter and fill out an application form.
								<% } %>
                            </p>

                            <h3>
                            	<%= __('Є питання?', 'Any questions?') %>
                            	 
                            	<a href="https://t.me/shliapnik" class="linking">
	                            	<%= __('Звернись до нас', 'Contact us') %>
	                            	
	                            	<i class="ti-arrow-right"></i>
	                            </a>
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Vivaldi -->
        <!-- ============================================================== -->


        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer bg-best-blue-gradiant spacer">
            <div class="container">
                <div class="row">
                    <!-- coluumn -->
                    <div class="col-lg-4">
                        <div class="d-flex no-block m-b-10 text-white">
                            <div class="display-7 m-r-20 "><i class="icon-Map-Marker2"></i></div>
                            <div class="info">
                                <span class="db m-t-5"><%= __('Київ, вул. Борщагівська, 144А', 'Kyiv, 144a vul. Borshagivska') %> </span>
                            </div>
                        </div>
                    </div>
                    <!-- coluumn -->
                    <!-- coluumn -->
                    <div class="col-lg-4">
                        <div class="d-flex no-block m-b-10">
                            <div class="display-7 m-r-20 text-white"><i class="icon-Mail"></i></div>
                            <div class="info">
                                <a href="mailto:lbg.kyiv@gmail.com"
                                   class="db white-link m-t-5">lbg.kyiv@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- coluumn -->
                    <!-- coluumn -->
                    <div class="col-lg-4 ml-auto">
                        <div class="ml-auto round-social dark">
                            <a class="link" href="https://www.facebook.com/best.kyiv/"><i
                                        class="fa fa-facebook"></i></a>
                            <a class="link" href="https://t.me/bestkyiv"><i class="fa fa-telegram"></i></a>

                            <a class="link" href="https://www.instagram.com/best_kyiv/"><i class="fa fa-instagram"></i></a>
                            <a class="link" href="https://www.flickr.com/photos/153367601@N05/albums"><i
                                        class="fa fa-flickr"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Back to top -->
        <!-- ============================================================== -->
        <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="/assets/node_modules/popper/dist/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- This is for the animation -->
<script src="/assets/node_modules/aos/dist/aos.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="/js/type.js"></script>
</body>

</html>
