<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.ico">
    <title><%=__('Хакатон INT20H', 'INT20H Hackathon') %> | BEST Kyiv | Board of European Students of Technology</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- This is for the animation CSS -->
    <link href="/assets/node_modules/aos/dist/aos.css" rel="stylesheet">
    <!-- This css we made it from our predefine componenet
    we just copy that css and paste here you can also do that -->
    <link rel="stylesheet" href="/assets/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">

    <link href="/css/demo.css" rel="stylesheet">
    <!-- Common style CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/yourstyle.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169806166-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-169806166-1');
    </script>
</head>

<body class="">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">BEST Kyiv</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <div class="topbar">
        <div class="header1 po-relative">
            <div class="container">
                <!-- Header 1 code -->
                <nav class="navbar navbar-expand-lg h1-nav">
                    <a class="navbar-brand" href="/"><img class="best-navbar-logo" src="/images/best-kyiv-logo-big.png"
                                                          alt="wrapkit"/></a>
                    <button class="navbar-toggler text-black-50" type="button" data-toggle="collapse"
                            data-target="#h5-info" aria-expanded="false" aria-label="Toggle navigation"><span
                                class="ti-menu"></span></button>
                    <div class="collapse navbar-collapse hover-dropdown text-uppercase" id="h5-info">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item dropdown mega-dropdown active">
                                <a class="nav-link dropdown-toggle" href="<%= __('/', '/en/')%>"><%= __('Головна', 'Home') %></a>
                            </li>
                            <li class="nav-item dropdown mega-dropdown active">
                                <a class="nav-link dropdown-toggle" href="<%= __('/', '/en/')%>#about"><%= __('Про нас', 'About us') %></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/#projects" id="h6-dropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <%= __("Проекти","Projects") %> <i class="fa fa-angle-down m-l-5"></i></a>
                                <ul class="b-none dropdown-menu font-14 animated fadeInUp">
                                    <li><a class="dropdown-item" href="<%= __('/', '/en/')%>courses"><%= __("Освітні курси", "BEST Courses") %></a></li>
                                    <li><a class="dropdown-item" href="<%= __('/', '/en/')%>ebec"><%= __("EBEC") %></a></li>
                                    <li><a class="dropdown-item" href="<%= __('/', '/en/')%>int20h"><%= __("INT20H") %></a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown mega-dropdown active">
                                <a class="nav-link dropdown-toggle" href="<%= __('/', '/en/')%>#contacts"><%= __("Контакти", "Contacts") %></a>
                            </li>
                        </ul>
                        <div class="switch-language-block">
                            <a href="<%= __('/en/int20h', '/int20h')%>">
                                <img class="language-icon" src="/images/icons/flag-<%= __('uk', 'ua')%>.svg" alt="switch language">
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- End Header 1 code -->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Slider 9  -->
            <!-- ============================================================== -->
            <div class="bg-light">
                <section id="slider-sec" class="slider9 best-project-header">
                    <div id="slider9" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="7000">
                        <div class="row bg-int20h-primary-gradiant">
                            <div class="col-md-7 d-block d-md-none">
                                <div class="best-project-header__bg-img-block int20h"></div>
                            </div>
                            <div class="col-md-5">
                                <div class="container best-project-header__content-container">
                                    <div class="row best-project-header__content">
                                        <div class="col-md-11 col-lg-9 ml-auto">
                                            <h1 data-animation="animated fadeInLeft" class="title text-white font-bold m-0 p-b-40"><%=__('Хакатон INT20H', 'INT20H Hackathon') %></h1>
                                            <p class="p-0 m-b-40 best-project-header__text" data-animation="animated fadeInUp">
                                                <% if (LANG === 'UA') { %>
                                                    Хакатон – змагання для ІТ-спеціалістів. Вони працюють протягом 20 годин над розв’язанням цікавих задач у режимі нон-стоп. Кожен хакатон –  це виклик для учасників та організаторів.<br/><br/>INT20H - один з найбільших студентських хакатонів України. Ми надаємо студентам можливість розвинути себе за рамками університету, поспілкуватись з представниками українських IT-компаній та дізнатись про кар’єрні можливості в цій галузі.
                                                <% } else { %>
                                                    Hackathon is a competition for IT professionals. They work non-stop within 20 hours to solve interesting tasks. Each hackathon is a challenge for participants and organizers.
                                                    <br/><br/> INT20H is one of the largest student hackathons in Ukraine. We provide students with the opportunity to develop themselves beyond university, communicate with representatives of Ukrainian IT companies and learn about career opportunities in this field.
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 d-none d-none d-md-block">
                                <div class="best-project-header__bg-img-block int20h"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- ============================================================== -->
            <!-- End of Slider 9  -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Feature 6  -->
            <!-- ============================================================== -->
            <div class="spacer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <img width="100%" src="/images/int20h/int20h-logo.png" alt="int20h logo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer feature6">
                <div class="container">
                    <!-- Row  -->
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h2 class="title">
                                <%= __('Категорії', 'Categories') %>
                                
                            </h2>
                            <h6 class="subtitle">
                                <%= __('Хакатон проходить у трьох категоріях:', 'Hackathon has three categories') %>
                                
                            </h6>
                        </div>
                    </div>
                    <!-- Row  -->
                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-4 wrap-feature6-box">
                            <div class="card bg-info-gradiant text-white" data-aos="fade-right" data-aos-duration="1200">
                                <div class="card-body">
                                    <div class="icon-space">
                                        <div class="icon-round"><i class="icon-Internet"></i></div>
                                    </div>
                                    <h6 class="font-medium text-white">Web Development</h6>
                                    <p class="m-t-20">
                                        <%= __('Реалізація веб-сервісів та інтерактивних веб-додатків', 'Implementation of web applications') %>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <!-- Column -->
                        <div class="col-md-4 wrap-feature6-box">
                            <div class="card bg-int20h-primary text-white" data-aos="fade-down" data-aos-duration="1200">
                                <div class="card-body">
                                    <div class="icon-space">
                                        <div class="icon-round"><i class="icon-Hand-TouchSmartphone"></i></div>
                                    </div>
                                    <h6 class="font-medium text-white">Mobile Development</h6>
                                    <p class="m-t-20">
                                        <%= __('Реалізація мобільних додатків', 'Implementation of mobile applications') %>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <!-- Column -->
                        <div class="col-md-4 wrap-feature6-box">
                            <div class="card bg-danger-gradiant text-white" data-aos="fade-left" data-aos-duration="1200">
                                <div class="card-body">
                                    <div class="icon-space">
                                        <div class="icon-round"><i class="icon-Numbering-List"></i></div>
                                    </div>
                                    <h6 class="font-medium text-white">Data Science</h6>
                                    <p class="m-t-20">
                                        <%= __('Розв’язання технічних задач методами Data Science', 'Solving technical problems with machine learning algorithms') %>
                                        
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End of Feature 6 -->
            <!-- ============================================================== -->

            <div class="spacer">
                <div class="container justify-content-center">
                    <h1 class="text-center">
                        <%= __('Як це було у 2019?', 'How was it in 2019?') %>
                        
                    </h1>
                    <!-- Row  -->
                    <div class="owl-carousel owl-theme port1 m-t-40">
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-1.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-2.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-3.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-4.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-5.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-6.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-7.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                        <!-- item -->
                        <div class="item" data-aos="fade-right">
                            <img src="/images/int20h/int20h-photo-8.jpg" alt="int20h" />
                        </div>
                        <!-- item -->
                    </div>
                </div>
            </div>


        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer bg-best-blue-gradiant spacer">
            <div class="container">
                <div class="row">
                    <!-- coluumn -->
                    <div class="col-lg-4">
                        <div class="d-flex no-block m-b-10 text-white">
                            <div class="display-7 m-r-20 "><i class="icon-Map-Marker2"></i></div>
                            <div class="info">
                                <a href="https://goo.gl/maps/uASzZm82HxGLMyYE9" target="_blank" class="db white-link m-t-5">
                                    <%= __('Київ, вул. Борщагівська, 144А', 'Kyiv, vul. Borshchahivska, 144A') %>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- coluumn -->
                    <!-- coluumn -->
                    <div class="col-lg-4">
                        <div class="d-flex no-block m-b-10">
                            <div class="display-7 m-r-20 text-white"><i class="icon-Mail"></i></div>
                            <div class="info">
                                <a href="mailto:inbox@best-kyiv.org"
                                   class="db white-link m-t-5">inbox@best-kyiv.org</a>
                            </div>
                        </div>
                    </div>
                    <!-- coluumn -->
                    <!-- coluumn -->
                    <div class="col-lg-4 ml-auto">
                        <div class="ml-auto round-social dark">
                            <a target="_blank" class="link" href="https://www.facebook.com/best.kyiv/"><i
                                        class="fa fa-facebook"></i></a>
                            <a target="_blank" class="link" href="https://t.me/bestkyiv"><i class="fa fa-telegram"></i></a>

                            <a target="_blank" class="link" href="https://www.instagram.com/best_kyiv/"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" class="link" href="https://www.flickr.com/photos/153367601@N05/albums"><i
                                        class="fa fa-flickr"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Back to top -->
        <!-- ============================================================== -->
        <a class="bt-top btn btn-circle btn-lg btn-info" href="#top"><i class="ti-arrow-up"></i></a>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap popper Core JavaScript -->
<script src="/assets/node_modules/popper/dist/popper.min.js"></script>
<script src="/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>

<!-- This is for the animation -->
<script src="/assets/node_modules/aos/dist/aos.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.js"></script>
<!-- ============================================================== -->
<!-- This page plugins -->
<!-- ============================================================== -->
<script src="/js/type.js"></script>
</body>

</html>
